/* Remove default Leaflet white square */
.user-cone-icon {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/* Container that rotates */
.user-cone-wrapper {
  position: relative;
  width: 80px;
  height: 80px;
  transform-origin: 30px 30px;
}

/* The actual blue directional cone */
.cone-shape {
  position: absolute;
  top: -10px;
  left: 30px;
  width: 0;
  height: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 55px solid rgba(47, 118, 255, 0.45);
  border-radius: 50%;
}
